<br><br><br><br>
<h1 class= "text-center"> Contact</h1>
<div>
  <h2 class= "text-center"> Team</h2>


    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag "xin.jpg", class: "img-circle" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "jacques.jpg", class: "img-circle" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "gorgia.jpg", class: "img-circle" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "jean.jpg", class: "img-circle" %>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p class= "text-center"> <strong>xin</strong> <br> elle aime le riz et les nouilles </p>
          </div>
          <div class="col-md-3">
            <p class= "text-center"> <strong>Jacques</strong>  <br> il est trop renoi </p>
          </div>
          <div class="col-md-3">
            <p class= "text-center"> <strong>Gorgia</strong>   <br> elle est trop belle !</p>
          </div>
          <div class="col-md-3">
            <p class= "text-center"> <strong>Jean</strong>   <br> il est trop cool !</p>
          </div>
        </div>
      </div>
    </div>

  <h2 class= "text-center"> contact info </h2>
</div>

<div>
  <h4 class="text-center">Contactez nous !</h2>
    <p class="text-center"><strong>on est trop coooooooooooooooooool !</strong></p>
  <form class="form-inline text-center">
    <input class="form-control" type="email" placeholder="nathanbg@gmail.com"> </input>
    <input class="btn btn-danger" type="submit" value="Subscribe"></input>
  </form>
  </div>

